body
{
	background: #ce4a4a;
	
	background-image: url("https://cdn.pling.com/img/7/1/0/4/74fd91a63aaab6274d1f555356cb6b6fa8b4.jpg");
	background-size: cover;
}

	.login_div1 , .login_div2
	{
		margin-right: 290px;
		background-color: yellow;
		padding: 10px;
		float: none;
		border-radius: 45px;
		border-width: 10px;
		border-color: red;
		border-style: solid;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: greenyellow;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#player1_name_input, #player2_name_input{
	background-color: green;
	font-size: 20px;
	height: 30px;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	width: 400px;
	color:black;
	font-weight: bold;
}

label{
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	border-radius: 20px;
	width: 200px;
	background-color:teal;
}

h3{
	background-color: brown;
	border-width: 15px;
	border-style: double;
	height: 70px;
	padding-top: 7px;
	border-color: lime;
}

