body {
    background: #ce4a4a;

    background-image: url("https://static7.depositphotos.com/1278966/761/i/950/depositphotos_7616741-stock-photo-blue-sky-numbers-background.jpg");
    background-size: cover;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 20px;
    color: yellow;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 20px;
    padding: 15px;
    background-color: green;
}

#number1,
#number2 {
    background-color: green;
    font-size: 20px;
    height: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    width: 400px;
    color: black;
    font-weight: bold;
}

#word {
    width: 60%;
    font-size: 40px;
    font-weight: bolder;
    color: indigo;
}

#output {
    background: greenyellow;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}

#player_question,#player_answer {
    font-size: 30px;
    background-color:purple;
    width: 400px;
    color: yellow;
    border-style: dashed;
    border-width: 3px;
    border-color: tomato;
    border-radius: 90px;
}

#player1_score,#player2_score {
    font-size: 30px;
    color: yellow;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px;

}